.form {
  display: flex;
 
  justify-content: center;
  align-items: center;
  gap: 18px;
 flex-wrap: nowrap;
    margin-bottom: 50px;

}


.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  border-radius: 14px;
  padding: 14px 89px 14px 18px;
  width: 224px;
  height: 48px;
}

.input_wrapper {
  display: flex;
}

.input {
  color: #121417;
  background-color: #f7f7fb;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11%;

  width: 160px;
  height: 48px;
  border: none;
  outline: none;
  padding: 14px 24px;
}

.input[name="from"] {
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  border-radius: 14px 0 0 14px;
}

.input[name="to"] {
  border-radius: 0 14px 14px 0;
}

.input::placeholder {
  color: inherit;
}

.button {
  color: #fff;
  background-color: #3470ff;
  font-weight: 600;
  line-height: 1.43%;

  width: 136px;
  height: 48px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 14px 44px;
  margin-top: 26px;
  transition: background-color 250ms linear;
}

.button:hover,
.button:focus {
  background-color: #0b44cd;
}
