.loadMoreButton {
  border-radius: 12px;
  padding: 14px 44px;
  width: 136px;
  height: 48px;
  border: none;
  background-color: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMoreButton:hover {
  background-color: #0b44cd;
}
