.loadMoreButton {
  border-radius: 12px;
  width: 136px;
  height: 48px;
  border: none;
  background-color: #3470ff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.loadMoreButton:hover {
  background-color: #0b44cd;
}
