@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,

a,

address,
cite,
code,
small,
strike,
strong,
sub,
sup,
var,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,

details,
embed,
figure,
footer,
header,
menu,
nav,
output,
section,
time,
mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  font-style: inherit;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}